@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  color: var(--color-border);
}

:root {
  --color-background: #ffe066;
  --color-footer: #eecf53;
  --color-border: #444;
  --color-player-info: #777;
  --color-light: #eee;
  --color-X-bg: #f25f5c;
  --color-X-accent: #913837;
  --color-O-bg: #31a5d6;
  --color-O-accent: #195974;
}

.playerX {
  background-color: var(--color-X-bg);
}

.playerO {
  background-color: var(--color-O-bg);
}

body {
  background-color: var(--color-background);
}

main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SCOREBOARD */

.scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.player-info {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid var(--color-border);
  border-radius: 20px;
  transition: all 0.3s;
}

.player-info.current {
  transform: scale(1.08);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.player-info:not(.current) {
  background-color: var(--color-player-info);
}

.name,
.game-result,
button {
  font-size: 1.5rem;
  font-weight: bold;
}

.score {
  font-size: 3rem;
  font-weight: bold;
}

.name {
  max-width: 12ch;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.name:hover {
  text-decoration: underline;
}

.name:focus {
  outline: 3px solid var(--color-light);
  border-radius: 5px;
  text-decoration: none;
}

.options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-symbol {
  position: relative;
  display: grid;
  height: 3rem;
  width: 3rem;
  place-items: center;
  border-radius: 5px;
  border: 3px solid;
}

.player-symbol.playerX {
  border-color: var(--color-X-accent);
  color: var(--color-X-accent);
}

.player-symbol.playerO {
  border-color: var(--color-O-accent);
  color: var(--color-O-accent);
}

/* GAME BOARD */

.game-result {
  margin: 25px;
}

.board {
  padding: 10px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  border-radius: 40px;
  background-color: var(--color-border);
  list-style: none;
}

.cell {
  display: grid;
  place-content: center;
  border: none;
  border-radius: 8px;
  font-size: 100px;
  line-height: 0;
  user-select: none;
}

#top-left {
  border-top-left-radius: 30px;
}
#top-right {
  border-top-right-radius: 30px;
}
#bottom-left {
  border-bottom-left-radius: 30px;
}
#bottom-right {
  border-bottom-right-radius: 30px;
}

.cell:not(.picked) {
  background-color: var(--color-light);
}

.board:not(.game-over) .cell:not(.picked):hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.board.game-over .cell:not(.winner) {
  filter: brightness(0.5);
}

.cell.picked {
  position: relative;
}

.cell.picked::before,
.player-symbol::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 15%;
  background-size: cover;
  opacity: 0.5;
  content: '';
}

.bg-image.playerX::before {
  background-image: url('./images/X.png');
}
.bg-image.playerO::before {
  background-image: url('./images/O.png');
}

.cell.winner {
  border: 4px solid var(--color-light);
  animation: 3s ease-in 0s pulse infinite;
}
.cell.winner.delay {
  animation-delay: 0.15s;
}
.cell.winner.delay2 {
  animation-delay: 0.3s;
}

/* BUTTONS */

.button-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

button {
  position: relative;
  padding: 20px;
  border: 5px solid var(--color-border);
  border-radius: 20px;
  background-color: var(--color-light);
}

button:hover,
button:focus {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: 3px solid var(--color-light);
}

@keyframes pulse {
  0%,
  25% {
    transform: scale(1);
  }
  12% {
    transform: scale(1.03);
  }
}

/* SLIDER */
:root {
  /* customize these */
  --slider-height: 28px;
  --slider-padding: 4px;
  --switch-width: var(--switch-height);
  --switch-translate: var(--switch-width);
  --color-switch: var(--color-light);
  --color-slider-off: #ccc;
  --color-slider-on: var(--color-border);

  /* don't change these */
  --switch-height: calc(var(--slider-height) - 2 * var(--slider-padding));
  --slider-width: calc(var(--switch-width) + var(--switch-translate) + 2 * var(--slider-padding));
}

/* The label + switch group */
.switch-group {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  user-select: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  display: grid;
  width: var(--slider-width);
  height: var(--slider-height);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-slider-off);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: var(--switch-height);
  width: var(--switch-width);
  left: var(--slider-padding);
  bottom: var(--slider-padding);
  background-color: var(--color-switch);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-slider-on);
}

input:focus + .slider {
  box-shadow: var(--color-light) 0px 0px 0px 3px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--switch-translate));
  -ms-transform: translateX(var(--switch-translate));
  transform: translateX(var(--switch-translate));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--slider-height);
}

.slider.round:before {
  border-radius: var(--switch-height);
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: var(--color-footer);
  font-size: 1rem;
}

footer .center-container {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer .right-container {
  padding: 5px;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

footer .right-container a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
}

footer a,
footer a:visited {
  text-decoration: none;
}

footer a:hover,
footer a:active {
  text-decoration: underline;
}

footer i {
  font-size: 1.6em;
}

footer a.icon:hover {
  transform: scale(1.1);
}

footer a.circled i {
  height: 1.6em;
  width: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8em;
  background-color: var(--color-border);
  color: var(--color-footer);
  font-size: 1em;
}
