@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  color: var(--color-border);
}

:root {
  --color-background: #ffe066;
  --color-border: #444;
  --color-player-info: #777;
  --color-light: #eee;
  --color-cell-X: #f25f5c;
  --color-font-X: #913837;
  --color-cell-O: #31a5d6;
  --color-font-O: #195974;
}

body {
  background-color: var(--color-background);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 50px;
  font-size: 4rem;
}

.player-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.player-info {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid var(--color-border);
  border-radius: 20px;
  background-color: var(--color-player-info);
  transition: all 0.3s;
}

.player-info.current {
  transform: scale(1.04);
}

#player1-info.current {
  background-color: var(--color-cell-X);
}

#player2-info.current {
  background-color: var(--color-cell-O);
}

.name-group {
  display: flex;
  gap: 1ch;
}

.name-group span {
  content: '';
  height: 3rem;
  width: 3rem;
}

.player-name,
.score,
button {
  font-size: 2rem;
  font-weight: bold;
}

.player-name {
  max-width: 12ch;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.player-name:hover {
  text-decoration: underline;
}

.player-name:focus {
  outline: 3px dashed var(--color-border);
  border-radius: 5px;
  text-decoration: none;
}

.player-symbol {
  display: grid;

  place-items: center;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 0;
}

.player-symbol.player1 {
  border: 3px solid var(--color-font-X);
  background-color: var(--color-cell-X);
  color: var(--color-font-X);
}

.player-symbol.player2 {
  border: 3px solid var(--color-font-O);
  background-color: var(--color-cell-O);
  color: var(--color-font-O);
}

.switch-group {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  user-select: none;
}

.board {
  padding: 10px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  border-radius: 40px;
  background-color: var(--color-border);
  list-style: none;
}

.cell {
  display: grid;
  place-content: center;
  border: none;
  border-radius: 8px;
  background-color: var(--color-light);
  user-select: none;
  font-size: 100px;
  line-height: 0;
}

.board:not(.game-over) .cell:not(.picked):hover {
  filter: brightness(0.9);
}

.board.game-over .cell:not(.winner) {
  filter: brightness(0.5);
}

.player-symbol.player1,
.cell.picked.X {
  position: relative;
  background-color: var(--color-cell-X);
  color: var(--color-cell-X);
}

.player-symbol.player2,
.cell.picked.O {
  position: relative;
  background-color: var(--color-cell-O);
  color: var(--color-cell-O);
}

.player-symbol::before,
.cell.picked::before {
  content: '';
  margin: 15%;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.player-symbol.player1::before,
.cell.picked.X::before {
  background-image: url('./images/X.png');
}

.player-symbol.player2::before,
.cell.picked.O::before {
  background-image: url('./images/O.png');
}

.cell.winner {
  border: 4px solid var(--color-light);
  animation: 1.5s ease-in 0s pulse infinite;
}
.cell.winner.win2 {
  animation-delay: 0.15s;
}
.cell.winner.win3 {
  animation-delay: 0.3s;
}

.button-container {
  margin: 20px;
  display: flex;
  gap: 20px;
}

button {
  position: relative;
  padding: 20px;
  border: 5px solid var(--color-border);
  border-radius: 20px;
  background-color: var(--color-light);
}

button:hover {
  filter: brightness(0.9);
}

.game-result {
  margin: 25px;
  font-size: 2rem;
}

@keyframes pulse {
  0%,
  50% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.03);
  }
}

/* SLIDER */
:root {
  /* these can be customized */
  --slider-height: 28px;
  --slider-padding: 4px;
  --switch-width: var(--switch-height);
  --switch-translate: var(--switch-width);
  --color-switch: var(--color-light);
  --color-slider-off: #ccc;
  --color-slider-on: var(--color-border);

  /* don't change these */
  --switch-height: calc(var(--slider-height) - 2 * var(--slider-padding));
  --slider-width: calc(var(--switch-width) + var(--switch-translate) + 2 * var(--slider-padding));
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: var(--slider-width);
  height: var(--slider-height);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-slider-off);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: var(--switch-height);
  width: var(--switch-width);
  left: var(--slider-padding);
  bottom: var(--slider-padding);
  background-color: var(--color-switch);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-slider-on);
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--switch-translate));
  -ms-transform: translateX(var(--switch-translate));
  transform: translateX(var(--switch-translate));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--slider-height);
}

.slider.round:before {
  border-radius: var(--switch-height);
}
