@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  color: var(--color-secondary);
}

:root {
  --color-background: #ddd;
  --color-secondary: #000;
  --color-player-info: #777;
}

body {
  background-color: var(--color-background);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 50px;
  font-size: 4rem;
}

.player-container {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.player-info {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--color-secondary);
  border-radius: 20px;
  background-color: var(--color-player-info);
}

.name-group {
  display: flex;
  gap: 1ch;
}

.player-name,
.player-symbol,
.score {
  font-size: 3rem;
  font-weight: bold;
}

.player-name {
  max-width: 10ch;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.player-name:hover {
  text-decoration: underline;
}

.switch-group {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
}

.board {
  padding: 10px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  border-radius: 40px;
  border-radius: ;
  background-color: var(--color-secondary);
  list-style: none;
}


.cell {
  display: grid;
  place-content: center;
  border: none;
  border-radius: 8px;
  background-color: #eee;
  user-select: none;
  font-size: 100px;
  line-height: 0;
}

/* SLIDER */
:root {
  /* these can be customized */
  --slider-height: 28px;
  --slider-padding: 4px;
  --switch-width: var(--switch-height);
  --switch-translate: var(--switch-width);
  --color-switch: white;
  --color-slider-off: #ccc;
  --color-slider-on: #2196f3;

  /* don't change these */
  --switch-height: calc(var(--slider-height) - 2 * var(--slider-padding));
  --slider-width: calc(var(--switch-width) + var(--switch-translate) + 2 * var(--slider-padding));
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: var(--slider-width);
  height: var(--slider-height);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-slider-off);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: var(--switch-height);
  width: var(--switch-width);
  left: var(--slider-padding);
  bottom: var(--slider-padding);
  background-color: var(--color-switch);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-slider-on);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-slider-on);
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--switch-translate));
  -ms-transform: translateX(var(--switch-translate));
  transform: translateX(var(--switch-translate));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--slider-height);
}

.slider.round:before {
  border-radius: var(--switch-height);
}
